#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh; 
  box-sizing: border-box; 
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 1rem;
  transition: transform 0.3s;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-brand h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-search {
  flex-grow: 4;
  max-width: 900px;
  margin-left: 2rem;
}

.navbar-search input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.navbar-search input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
  max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem;
  
}

.movie-card {
  text-align: center;
  padding: 1em;
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #555;
}

.pagination span {
  margin: 0 10px;
  font-size: 1rem;
}

.movie-detail {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(135deg, #f3ec78, #af4261);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

.movie-poster {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
}

.movie-poster:hover {
  transform: scale(1.05);
}

.movie-info p {
  margin: 0.5rem 0;
}

.movie-info p:nth-child(odd) {
  color: #f0e68c;
}

.movie-info p:nth-child(even) {
  color: #fff;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 -550px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}